[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

flask = "*"
flask-cache = "*"
flask-heroku-cacheify = "*"
gunicorn = "*"
"psycopg2" = "==2.6.1"
redis = "==2.10.5"
requests = "*"
slacker = "==0.9.0"
lxml = "*"
cssselect = "*"
