[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

werkzeug = ">=0.15.0"
flask = "*"
flask-caching = "*"
flask-heroku-cacheify = {git = "https://github.com/Ogreman/flask-heroku-cacheify", editable = true}
gunicorn = "*"
"psycopg2" = "==2.7.1"
redis = "==2.10.5"
requests = "*"
slacker = "==0.9.60"
lxml = "*"
cssselect = "*"
apscheduler = "*"
